.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 150px;
    height: auto;
    background-color: aquamarine;
    border-radius: 3px;
    font-size: xx-large;
}

button:hover {
    cursor: pointer;
}

.container {
    margin: 0 auto;
    background-color: aquamarine;
    border-radius: 20px;
    padding: 25px 50px;
    width: 80vw;
    text-align: center;
}

